* {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
main {
  background: url(./image/img1.jpeg);
  background-size: cover;
  height: 100vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 15vh;
  width: 80%;
  font-size: 20px;
}
img {
  display: flex;
  margin: 1px 10px;
}
.left {
  display: flex;
  margin: 10px;
}
.right {
  display: flex;
}
section {
  display: flex;
  height: 85vh;
  text-align: center;
  color: white;
  justify-content: center;
  flex-direction: column;
}
span {
  color: red;
}
.contact {
  font-weight: lighter;
}

h1 {
  font-size: 50px;
  line-height: 45px;
  font-weight: bolder;
  text-align: center;
}
p {
  margin: 10px;
  text-align: center;
}
button {
  display: block;
  background-color: red;
  border: none;
  border-radius: 2px;
  margin: 20px auto;
  padding: 10px 10px;
  border: 2px 5px;
}
